<div id="<%= dom_id winemaker_winetasted %>">
    <div class="card">
        <p>
            <strong>ID:</strong>
            <%= winemaker_winetasted.winetasted.id %>
        </p>
        <p>
            <strong>Name:</strong>
            <%= winemaker_winetasted.winemaker.name %>
        </p>
                <p>
            <strong>Name:</strong>
            <%= winemaker_winetasted.winemaker.age %>
        </p>
                <p>
            <strong>Name:</strong>
            <%= winemaker_winetasted.winemaker.nationality %>
        </p>

        <p>
            <strong>Record:</strong>
            <%= winemaker_winetasted.winemaker.magazine %>
        </p>
        <p>
            <strong>Record:</strong>
            <%= winemaker_winetasted.winemaker.position %>
        </p>
    </div>
</div>
