<p style="color: green"><%= notice %></p>
<h1> winemaker_winetasted SHOW</h1>
<%= render @winemaker_winetasted %>

<div>
  <%= link_to "Edit this winemaker winetasted", edit_winemaker_winetasted_path(@winemaker_winetasted) %> |
  <%= link_to "Back to winemaker winetasteds", winemaker_winetasteds_path %>

  <%= button_to "Destroy this winemaker winetasted", @winemaker_winetasted, method: :delete %>
</div>
